@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #fff;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,0.2);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-image: url(Resources/background_color_2.jpg);
    background-size: cover;
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 20;
    transition: 0.5s;
}

.header.sticky {
    background: #043961;
    box-shadow: 0 0.1rem 1rem var(--shadow-color);
}


.logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}

.navbar a {
    position: relative;
    font-size: 1.7rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}

/* !!!marking for review */
.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.header a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 0.2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: 0.7;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 0.3;
    opacity: 0;
    animation : slideBottom 1.5s ease forwards;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: 0.3rem;
    opacity: 0;
    animation : slideBottom 1.5s ease forwards;
}

.home-content p {
    font-size: 1.6rem;
    opacity: 0;
    animation: slideLeft 1.5s ease forwards;
    animation-delay: 1s;
}

.home-content .home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--shadow-color);
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 0.5s ease;

    opacity: 0;
    animation: slideUp 1.5s ease forwards;
    animation-delay: 2s;
}

.home-content .home-sci a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn-box {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    cursor: pointer;
    border: 0.2rem solid transparent;
    transition: 0.5s ease;

    opacity: 0;
    animation: showContent 1.5s ease forwards;
    animation-delay: 3s;
}

.btn-box:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
    transform: translateY(-0.6rem);
    box-shadow: 0 2rem 2rem 0 rgba(0,0,0,0.5);
}

.btn-box-resume {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 0.2rem solid transparent;
    transition: 0.5s ease;

    opacity: 0;
    animation: showContent 1.5s ease forwards;
    animation-delay: 3s;
}

.btn-box-resume:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
    transform: translateY(-0.6rem);
    box-shadow: 0 2rem 2rem 0 rgba(0,0,0,0.5);
}

/* animation on intro */

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes showContent {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.home .profession-container {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 770px;
    height: 770px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
    0%, 20% {
        transform: rotate(0deg);
    }
    25%, 45% {
        transform: rotate(-90deg);
    }
    50%, 70% {
        transform: rotate(-180deg);
    }
    75%, 95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}


.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background-image: linear-gradient(to right, #053c65, #053b64, #053a63, #043a62, #043961);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2), .home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 384px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    position: absolute;
    top: 8rem;
    bottom: 0;
    right: -17rem;
    width: 67%;
    pointer-events: none;
}

.about {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-text h2 {
    font-size: 60px;
}

.about-text h2 span{
    color: #754ef9;
}

.about-text h4 {
    font-size: 29px;
    font-weight: 600;
    color: #fff;
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.about .about-text .additional-info {
    display: none;
}

.about .about-img {
    padding-top: 10rem;
}

.about .about-img img {
    width: 30rem;
    border: 3px solid rgb(204, 0, 255);
    border-radius: 50%;
    box-shadow: 0 0 4rem rgb(204, 0, 255);
}

.sub-title {
    font-size: 60px;
    margin-top: 20rem;
    margin-left: 40%;
}

.sub-title span{
    color: #754ef9;
}

.mh-professional-skill {
    float: left;
}

.mh-skills .mh-professional-skill {
    padding-right: 60px;
    width: 40%;
    color: white;
}

.mh-skills .mh-professional-skill h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
}

.candidatos {
    position: relative;
    margin-bottom: 15px;
}

.candidatos .parcial {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.candidatos .parcial .info {
    position: relative;
}

.candidatos .parcial .info .nome {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 15px;
    font-weight: 600;
    opacity: 0.9;
}

.candidatos .parcial .info .percentage-num {
    position: absolute;
    top: 0;
    left: 95%;
    font-size: 14px;
    font-weight: normal;
}

.candidatos .parcial .ProgressBar {
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}

.candidatos .parcial .percentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgb(129, 0, 249);
    box-shadow: 1rem 0 4rem 0.2rem rgb(204, 0, 255);
    transition: 3s all;
    animation-duration: 3s;
    animation-name: animationProgress;
}

.precentual {
    animation-name: animationProgress;
}

@keyframes animationProgress {
    from {
        width: 0;
    }
}









.mh-professional-skills {
    padding-left: 50%;
}

.mh-professional-skills h3 {
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
}

.ProgressBar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.ProgressBar-container .card {
    position: relative;
    width: 200px;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProgressBar-container .card .progress-percentage {
    position: relative;
    width: 150px;
    height: 150px;
}

.ProgressBar-container .card .progress-percentage svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.ProgressBar-container .card .progress-percentage svg circle {
    width: 80%;
    height: 80%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);
}

.ProgressBar-container .card .progress-percentage svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    animation: fadeIn 6s linear forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.dot {
    position: absolute;
    inset: 5px;
    z-index: 10;
    /* 360deg / 100 = 3.60 */
    animation: animateDot 1.5s linear forwards;
}

@keyframes animateDot {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--clr);
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr);
}

.number {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number h2 {
    display: flex;
    justify-content: center;

    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span {
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}

.number p {
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(225,225,225,0.75);
}

/* Contact form */

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 40px;
    margin-left: 50px;
}

.contact-text h2 {
    margin-bottom: 5rem;
    font-size: 70px;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: #754ef9;
}

.contact-text h4 {
    margin: 15px 0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.contact-text p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    margin-bottom: 10px;
    display: block;
}

.contact-list i {
    display: inline-block;
    color: #754ef9;
    font-size: 20px;
    font-weight: 600;
    transition: all 0.40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translate(-5px);
    color: #754ef9;
}

.contact .contact-text .contact-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: 0.2rem solid var(--shadow-color);
    border-radius: 50%;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: 0.5s ease;
}

.contact .contact-text .contact-icons a:hover {
    background: var(--main-color);
    color: var(--white-color);
}


.contact-form form {
    position: relative;
}

.contact-form form input,form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #b7adff;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

.contact-form textarea {
    resize: none;
    height: 220px;
}

.contact-form form .send {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    margin-top: 2rem;
    margin-left: 30%;
    width: 20rem;
    background: var(--main-color);
    border-radius: 5rem;
    box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
    font-size: 1.6rem;
    color: var(--white-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    border: 0.2rem solid #754ef9;
    transition: 0.5s ease;
    justify-content: center;
    align-items: center;
}

.contact-form form .send:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
    transform: translateY(-0.6rem);
    box-shadow: 0 2rem 2rem 0 rgba(0,0,0,0.5);
    cursor: pointer;
}

/* footer design */


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: var(--main-color);
}

.footer-text p {
    font-size: 1rem;
    color: var(--white-color);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--white-color);
    border-radius: 0.8rem;
    border: 0.2rem solid --main-color;
    outline: 3px solid rgb(120, 2, 255);
    transition: 0.5s ease;
}

.footer-iconTop a i {
    font-size: 2rem;
    color: #000;
}

.footer-iconTop a:hover {
    outline-color: var(--white-color);
    transform: translateY(-2px);
    box-shadow: 0 2rem 2rem 0 rgba(0,0,0,0.5);;
}


/* low device point */
@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container {
        height: 85.5rem;
    }

    .home .profession-container .profession-box {
        right: -12px;
        height: 85.5rem;
    }

    .home .profession-container .overlay {
        right: -9rem;
    }
}


@media (max-width: 1024px) {
    html {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -22rem;
    }

    .home .profession-container .overlay {
        right: -15rem;
    }
}


@media (max-width: 991px) {
    
    /* .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: #754ef9;
    } */

    .navbar a.active::before {
        background: var(--main-color);
        opacity: 0.7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -45rem;
    }

    .home .profession-container .overlay {
        right: -39.5rem;
    }

    .home-img img {
        display: none;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 768px) {

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1 rem 3%;
        background: #043961;
        border-top: 0.1rem solid rgba(0,0,0,0.2);
        box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.1);
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: #fff;
    }

    .navbar a.actve {
        color: #754ef9;
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .home-sci a {
        margin: 2.5rem 0.75rem 3rem;
    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px,  -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-220px, -335px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }
}